* {
  margin: 0;
  padding: 0;
}
body {
  background-color: bisque;
}
.maindiv {
  position: absolute;
  width: 50%;
  padding: 20px;
  border: 1px rgb(185, 177, 177) solid;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 120px;
}
.childdiv {
  padding: 10px;
}
.inputnumber {
  width: 100%;
  padding: 10px 5px;
}
.showtext {
  cursor: pointer;
  width: 100%;
  background-color: white;
  color: blue;
  padding: 10px 5px;
  border-radius: 5px;
  border: 0.5px dashed black;
  margin-top: 20px;
}
