.btn:link,
.btn:visited {
    display: inline-block;
    text-transform: uppercase;
    padding: 1.5rem 4rem;
    border-radius: 10rem;
    text-decoration: none;
    text-align: center;
    transition: all .2s ease-in-out;
    position: relative;
    font-size: 1.6rem;

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: "";
        transition: all .4s;
        z-index: -1;
    }
}

.btn:hover {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-0.1rem);
}

.btn-white {
    z-index: 1;
    color: $color-gray;
    background-color: $color-white;
    animation: moveInBottom .5s ease-in-out 2s backwards;


    &:hover {
        &::before {
            transform: scale(1.5, 1.6);
            opacity: 0;
        }
    }

    &::before {
        background-color: $color-white;
        border-radius: 10rem;
    }
}

.btn-green {
    z-index: 1;
    color: $color-white;
    background-color: $color-primary;


    

    &::before {
        background: $color-primary;
        border-radius: 10rem;
    }
    &:hover {
        &::before {
            transform: scale(1.5, 1.6);
            opacity: 0;
        }
    }
}

.btn-text {

    &:link,
    &:visited {
        color: $color-primary-dark;
        display: inline-block;
        text-decoration: none;
        border-bottom: .2rem solid $color-primary;
        padding: .5rem 1rem;
        font-size: 1.6rem;
        transition: all .3s ease-in-out;
    }

    &:hover {
        background-image: linear-gradient(to right, $color-primary, $color-primary-dark);
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
        // transform: translateY(-.2rem);
    }

    &:active {
        box-shadow: 0 .5rem 2rem rgba($color-black, 0.15);
        // transform: translate(0);
    }
}