.composition {
    position: relative;

    .photo {
        width: 55%;
        box-shadow: 0 1.5rem 2rem rgba($color-black, 0.4);
        border-radius: 0.2rem;
        position: absolute;
        transition: all 0.2s ease-in-out;
        outline-offset: 2rem;
        z-index: 10;

        &:hover {
            outline: 1.5rem solid $color-primary-dark;
            transform: scale(1.05) translateY(-.5rem);
            box-shadow: 0 2.5rem 2rem rgba($color-black, 0.5);
            z-index: 20;
        }
    }
    .p1 {
        left: 0;
        top: -2rem;
    }
    .p2 {
        right: 0;
        top: 2rem;
    }
    .p3 {
        left: 20%;
        top: 10rem;
    }
    &:hover {
        .photo:not(:hover) {
            transform: scale(.95);
        }
    }
}
